In [7]:
#1)
# Load the ChickWeight dataset
data(ChickWeight)

# Create a multi-regression model with Time and Diet as predictors
multi_reg_model <- lm(weight ~ Time + Diet, data = ChickWeight)
print(summary(multi_reg_model))

#2)
# Create a new data frame with Time = 10 and Diet = 1
new_data <- data.frame(Time = 10, Diet = 1)

# Predict the weight
predicted_weight <- predict(multi_reg_model, newdata = new_data)
print(predicted_weight)

#3)
# Find the error in the model
error <- mean((ChickWeight$weight[ChickWeight$Time == 10 & ChickWeight$Diet == 1] - predicted_weight)^2)
print(error)

Call:
lm(formula = weight ~ Time + Diet, data = ChickWeight)

Residuals:
     Min       1Q   Median       3Q      Max
-136.851  -17.151   -2.595   15.033  141.816

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  10.9244     3.3607   3.251  0.00122 **
Time          8.7505     0.2218  39.451  < 2e-16 ***
Diet2        16.1661     4.0858   3.957 8.56e-05 ***
Diet3        36.4994     4.0858   8.933  < 2e-16 ***
Diet4        30.2335     4.1075   7.361 6.39e-13 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 35.99 on 573 degrees of freedom
Multiple R-squared:  0.7453,	Adjusted R-squared:  0.7435
F-statistic: 419.2 on 4 and 573 DF,  p-value: < 2.2e-16

Warning message in model.frame.default(Terms, newdata, na.action = na.action, xlev = object$xlevels):
“variable 'Diet' is not a factor”

ERROR: Error: variable 'Diet' was fitted with type "factor" but type "numeric" was supplied

In [6]:
titanic_df

   Class Sex    Age   Survived Freq
1  1st   Male   Child No         0
2  2nd   Male   Child No         0
3  3rd   Male   Child No        35
4  Crew  Male   Child No         0
5  1st   Female Child No         0
6  2nd   Female Child No         0
7  3rd   Female Child No        17
8  Crew  Female Child No         0
9  1st   Male   Adult No       118
10 2nd   Male   Adult No       154
11 3rd   Male   Adult No       387
12 Crew  Male   Adult No       670
13 1st   Female Adult No         4
14 2nd   Female Adult No        13
15 3rd   Female Adult No        89
16 Crew  Female Adult No         3
17 1st   Male   Child Yes        5
18 2nd   Male   Child Yes       11
19 3rd   Male   Child Yes       13
20 Crew  Male   Child Yes        0
21 1st   Female Child Yes        1
22 2nd   Female Child Yes       13
23 3rd   Female Child Yes       14
24 Crew  Female Child Yes        0
25 1st   Male   Adult Yes       57
26 2nd   Male   Adult Yes       14
27 3rd   Male   Adult Yes       75
28 Crew  Male   Adult Yes      192
29 1st   Female Adult Yes      140
30 2nd   Female Adult Yes       80
31 3rd   Female Adult Yes       76
32 Crew  Female Adult Yes       20